@font-face {
    font-family: 'Fira Code';
    src: url() format('truetype');
}

body {
    background-color: #42aaf4;
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 18px;
    font-family: 'Open Sans';
}